.newsList {
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  list-style-type: none;
  padding: 10px;
  overflow: auto;
  font: 300 1em "Arial", sans-serif;
  }
  
.news {
   margin: 10px 0;
   padding: 20px 30px;
   min-width: 200px;
   box-shadow:0 0 1px 0 rgba(0, 0, 0, 0.2), 0 3px 0px 0 rgba(0, 0, 0, 0.1);
 }
  
.newsTitle {
   display: block;
   font-weight: bold;
   margin-bottom: 10px;
 }
  
 .description span {
   padding: 0 10px;
 }
  
 .description span:not(:last-child) {
   border-right: 1px solid #000;
 }