.block {
    display: block;
}

.font-size-13 {
    font-size: 13px !important;
}

.font-size-12 {
    font-size: 12px !important;
}

.padding-top-15 {
    padding-top: 15px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-7 {
    margin-top: 7px !important;
}

.margin-left-right-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.read-more-link {
    color: #a94432;
    font-family: Verdana;
    font-weight: bold;
    cursor: pointer;
}

.read-more-link a {
    color: #a94432;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.main-column {
    width: 606px;
}

/* Online Exclusive Reviews subcomponent START*/
.oer-main-column {
    padding-right: 37px;
    padding-left: 3px;
    width: 575px;
}

.oer-main-title {
    display: block;
    font-size: 14px;
    font-family: Verdana;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.oer-main-title-small {
    display: block;
    font-size: 12px;
    font-family: Verdana;
    margin-block-start: 3em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.oer-span {
    display: block;
    font-size: 13px;
    font-family: Verdana;
    color: #333333;
}

.oer-span-a {
    color: rgb(153, 0, 0);
    font-size: 13px;
    font-weight: normal;
}

.oer-list {
    margin: 10px 0 0 0;
    text-align: left;
    list-style-type: none;
}

.oer-list li {
    line-height: 0.8rem;
}
/* Online Exclusive Reviews subcomponent END*/

/* Home Page START */
.home-container {
    display: flex;
}

.rotd-container {
    padding: 0 15px 40px 10px;
}

.home-left-column {
    width: 57.8%;
    border-right: 1px solid grey;
}

.home-right-column {
    width: 42.2%;
}

.the-booklist-image {
    margin-bottom: 10px;
}

.best-new-books-image {
    height: auto;
    width: 175px;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Home Page END */

/* Review of the day subcomponent START */
.rotd-image-title {
    margin-left: -10px;
    width: 346px;
    height: 32px;
}

.rotd-image-book {
    float: right;
    width: 90px;
    height: 135px;
    margin: 5px 10px 4px 5px;
}

.rotd-title-link {
    font-family: Verdana;
    font-size: 16px;
    color: rgb(153, 0, 0);
    cursor: pointer;
}

.rotd-link {
    font-family: Verdana;
    font-weight: normal;
    font-size: 12px;
    color: rgb(153, 0, 0);
    cursor: pointer;
}

.rotd-p {
    display: block;
    font-size: 12px;
    font-family: Verdana;
    color: #333333;
}
/* Review of the day subcomponent END */

/* Latest Article subcomponent START */
.la-image-writter {
    float: left;
    width: 108px;
    height: 108px;
    margin: 5px 5px 0px 5px;
}
/* Latest Article subcomponent END */


.book-awards-wrapper {
    margin: 30px 13px 25px 25px; 
}

.awards-image {
    margin: 15px 0px 15px 10px;
    float: right;
}

/* Newsletter page START */

.newsletter-form {
    padding-top: 30px;
    padding-left: 15px;
}

.newsletter-form-title {
    color: rgb(51, 51, 51);
    font-family: SANS-SERIF;
    font-weight: 500;
    font-size: 16px;
    word-wrap: break-word;
    min-height: 30px;
}

.newsletter-label {
    display: inline-block;
    font-family: SANS-SERIF;
    font-size: 14px;
    font-weight: normal;
    color: rgb(51, 51, 51);
    margin-top: 10px;
    margin-bottom: 10px;
}

.newsletter-input {
    margin-right: 5px;
}

.ns-email-input {
    width: 345px;
    border-radius: 3px;
    border-image: initial;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 8px;
    font-family: SANS-SERIF;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    display: block;
    height: auto;
}

.ns-fn-input {
    width: 160px;
    height: auto;
    border-image: initial;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 8px;
    font-family: SANS-SERIF;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
}

.name-form {
    display: flex;
    justify-content: center;
    margin-top: 7px;
}

.ns-ls-input {
    margin-left: 7px;
}

.select-wrapper {
    width: 345px;
    border-image: initial;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 8px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    height: auto;
}

.dropdown-element {
    width: 100%;
    height: 100%;
    border: 0px inset rgb(156, 156, 156);
    pointer-events: unset;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    line-height: 24px;
    font-family: SANS-SERIF;
    font-weight: normal;
    font-size: 14px;
    overflow: hidden;
}

.whitespace {
    width: 192px;
}

.submit-btn {
    margin: 25px auto;
    display: block;
    cursor: pointer;
    width: 122px;
    height: 52px;
    word-break: break-all;
    color: rgb(255, 255, 255);
    font-family: SANS-SERIF;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 6px;
    padding: 10px;
    background-color: rgb(97, 139, 179);
    font-size: 20px;
    text-align: center;
    box-shadow: rgb(153, 153, 153) 2px 2px 2px;
    letter-spacing: 0px;
    line-height: 24px;
}

.input-border {
    border-width: 1px;
    border-style: inset solid inset inset;
    border-color: rgb(156, 156, 156);
}

.pers-data-title {
    display: block;
    padding-bottom: 18px;
    text-align: left;
    color: rgb(31, 31, 31);
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 12px;
    font-family: SANS-SERIF;
}

.pers-data-text {
    margin-right: 30px;
    text-align: left;
    color: rgb(31, 31, 31);
    line-height: 18px;
    letter-spacing: 0px;
    font-size: 12px;
    font-family: SANS-SERIF;
}

.pers-data-link {
    color: rgb(62, 101, 107);
    text-decoration: underline;
    font-size: inherit;
    font-weight: normal;
}
/* Newsletter page END */

/* Webinars page START */
.webinars-main-image {
    margin-bottom: 30px;
}

.webinar-img {
    display: block;
    margin: 0 auto;
}

.offers {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.webinar-text {
    padding: 7px;
    margin: 20px;
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.offers-link {
    font-size: 22px;
    font-family: SANS-SERIF;
    color: rgb(153, 0, 0);
    display: block;
    text-align: center;
}
/* Webinars page END */

/* FAQ page START */
.faq-wrapper {
    padding: 25px;
}

.faq-questions {
    font-weight: bold;
    font-family: Verdana;
    font-size: 12px;
    margin: 15px 0 15px 0;
}

.faq-link {
    display: block;
    margin: 12px 0 12px 0;
    font-size: 12px;
    font-family: Verdana;
    color: rgb(153, 0, 0);
}
/* FAQ page END */

/* Contact US page START */
.contact-us-title {
    font-family: Verdana;
    font-size: 14px;
}

.contact-us-link {
    margin: 15px 0 15px 0;
    color: rgb(153, 0, 0);
    font-size: 12px;
    font-weight: normal;
    display: block;
    margin: 12px 0 12px 0;
}

.representatives-wrapper{
    margin: 15px 0 15px 0; 
}
/* Contact US page END */
/* Right Column component START */
.rc-adverting-img {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;

}
/* Right Column component END */

