.right-column {
    width: 183px;
    background-color: rgb(141, 166, 189);
    height: 1450px;
}

.social-links {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    font-family: verdana;
    margin-top: 10px;
}

.icon-wrapper{
    margin: 10px;
    position: relative;
    background-color: rgb(97, 118, 137);
    line-height: 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.icon-wrapper:hover {
    transform: translateY(-4px);
    transition: all .2s ease-in-out;
}

.icon-wrapper img {
    width: 24px;
    height: 24px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top: -36%;
    margin-left: -38%;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flex a {
    z-index: 1;
}