.share-btns {
    margin-bottom: 30px;
    display: flex;
}

.icon-wrapper{
    margin: 3px;
    position: relative;
    background-color: rgb(97, 118, 137);
    line-height: 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.icon-wrapper:hover {
    transform: translateY(-4px);
    transition: all .2s ease-in-out;
}

.icon-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35%;
    margin-left: -35%;
}

.f-color {
    background-color: rgb(59, 89, 152);
}

.t-color {
    background-color: rgb(29, 161, 242);
}

.p-color {
    background-color: rgb(115, 138, 141);
}

.m-color {
    background-color: rgb(132, 132, 132);
}

.pint-color {
    background-color: rgb(203, 32, 39);
}